# Datenanalyse Projekt LF8

## 1. Datenbeschaffung

In [28]:
# Import
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [29]:
# Read CSV-Datasets
co2_df = pd.read_csv("./data/co2_hist_emissions.csv")
methane_df = pd.read_csv("./data/methane_hist_emissions.csv")
TempCountry_df = pd.read_csv("./data/GlobalLandTemperaturesByCountry.csv")
TempMajorcity_df = pd.read_csv("./data/GlobalLandTemperaturesByMajorCity.csv")
TempState_df = pd.read_csv("./data/GlobalLandTemperaturesByState.csv")
TempGlobal_df = pd.read_csv("./data/GlobalTemperatures.csv")

## 2. Datacleaning

Im Folgenden Pruefe ich auf nicht vorhandene Werte in den jeweiligen Spalten. Gleichzeitig schaue ich auch, welche Daten in den Spalten vorhanden sind, bzw. wie diese aufgebaut sind

In [30]:
# Überprüfen auf fehlende Werte
missing_values = co2_df.isnull().sum()
print("co2_df: Fehlende Werte pro Spalte:")
print(missing_values)

missing_values = methane_df.isnull().sum()
print("methane_df: Fehlende Werte pro Spalte:")
print(missing_values)

missing_values = TempCountry_df.isnull().sum()
print("TempCountry: Fehlende Werte pro Spalte:")
print(missing_values)

missing_values = TempMajorcity_df.isnull().sum()
print("TempMajorcity: Fehlende Werte pro Spalte:")
print(missing_values)

missing_values = TempState_df.isnull().sum()
print("TempState: Fehlende Werte pro Spalte:")
print(missing_values)

missing_values = TempGlobal_df.isnull().sum()
print("TempGlobal: Fehlende Werte pro Spalte:")
print(missing_values)

co2_df: Fehlende Werte pro Spalte:
Country        0
Data source    0
Sector         0
Gas            0
Unit           0
2018           0
2017           0
2016           0
2015           0
2014           0
2013           0
2012           0
2011           0
2010           0
2009           0
2008           0
2007           0
2006           0
2005           0
2004           0
2003           0
2002           0
2001           0
2000           0
1999           0
1998           0
1997           0
1996           0
1995           0
1994           0
1993           0
1992           0
1991           0
1990           1
dtype: int64
methane_df: Fehlende Werte pro Spalte:
Country    0
Sector     0
Gas        0
Unit       0
2018       0
2017       0
2016       0
2015       0
2014       0
2013       0
2012       0
2011       0
2010       0
2009       0
2008       0
2007       0
2006       0
2005       0
2004       0
2003       0
2002       0
2001       0
2000       0
1999       0
1998       0
1997       0
1996       0
1995       0
1994       0
1993       0
1992       0
1991       0
1990       9
dtype: int64
TempCountry: Fehlende Werte pro Spalte:
dt                                   0
AverageTemperature               32651
AverageTemperatureUncertainty    31912
Country                              0
dtype: int64
TempMajorcity: Fehlende Werte pro Spalte:
dt                                   0
AverageTemperature               11002
AverageTemperatureUncertainty    11002
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64
TempState: Fehlende Werte pro Spalte:
dt                                   0
AverageTemperature               25648
AverageTemperatureUncertainty    25648
State                                0
Country                              0
dtype: int64
TempGlobal: Fehlende Werte pro Spalte:
dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

Danach werden alle Zeilen in welchen Daten fehlen aus den Dataframes entfernt, nur im Co2 & Methane Dataframe gibt es das Kriterium, dass mindestens 50% der Spalten NaN sein müssen, damit diese gelöscht werden.

In [31]:
# Clean Data of min. 50% NaN for Co2 and Methane
min_non_nan_co2 = co2_df.shape[1] / 2
min_non_nan_methane = methane_df.shape[1] / 2

co2_df = co2_df.dropna(thresh=min_non_nan_co2)
methane_df = methane_df.dropna(thresh=min_non_nan_methane)

# Clean Data of NaN for Temperature
TempCountry_df = TempCountry_df.dropna()
TempMajorcity_df = TempMajorcity_df.dropna()
TempState_df = TempState_df.dropna()
TempGlobal_df = TempGlobal_df.dropna()

# Delete duplicates
co2_df = co2_df.drop_duplicates()
methane_df = methane_df.drop_duplicates()

Nachdem die Zeilen bereinigt wurde, prüfe ich die Datentypen der einzelnen Spalten innerhalb der Dataframes und korrigiere diese gegebenenfalls.

In [32]:
# Check the datatypes of all Dataframes
print("co2_df: Datentypen:")
print(co2_df.dtypes)

print("methane_df: Datentypen:")
print(methane_df.dtypes)

print("TempCountry_df: Datentypen:")
print(TempCountry_df.dtypes)

print("TempMajorcity_df: Datentypen:")
print(TempMajorcity_df.dtypes)

print("TempState_df: Datentypen:")
print(TempState_df.dtypes)

print("TempGlobal_df: Datentypen:")
print(TempGlobal_df.dtypes)

co2_df: Datentypen:
Country         object
Data source     object
Sector          object
Gas             object
Unit            object
2018           float64
2017           float64
2016           float64
2015           float64
2014           float64
2013           float64
2012           float64
2011           float64
2010           float64
2009           float64
2008           float64
2007           float64
2006           float64
2005           float64
2004           float64
2003           float64
2002           float64
2001           float64
2000           float64
1999           float64
1998           float64
1997           float64
1996           float64
1995           float64
1994           float64
1993           float64
1992           float64
1991           float64
1990           float64
dtype: object
methane_df: Datentypen:
Country     object
Sector      object
Gas         object
Unit        object
2018       float64
2017       float64
2016       float64
2015       float64
2014       float64
2013       float64
2012       float64
2011       float64
2010       float64
2009       float64
2008       float64
2007       float64
2006       float64
2005       float64
2004       float64
2003       float64
2002       float64
2001       float64
2000       float64
1999       float64
1998       float64
1997       float64
1996       float64
1995       float64
1994       float64
1993       float64
1992       float64
1991       float64
1990       float64
dtype: object
TempCountry_df: Datentypen:
dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
Country                           object
dtype: object
TempMajorcity_df: Datentypen:
dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object
TempState_df: Datentypen:
dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
State                             object
Country                           object
dtype: object
TempGlobal_df: Datentypen:
dt                                            object
LandAverageTemperature                       float64
LandAverageTemperatureUncertainty            float64
LandMaxTemperature                           float64
LandMaxTemperatureUncertainty                float64
LandMinTemperature                           float64
LandMinTemperatureUncertainty                float64
LandAndOceanAverageTemperature               float64
LandAndOceanAverageTemperatureUncertainty    float64
dtype: object

In [33]:
# Convert Date to Datetime
TempCountry_df["dt"] = pd.to_datetime(TempCountry_df["dt"])
TempMajorcity_df["dt"] = pd.to_datetime(TempMajorcity_df["dt"])
TempState_df["dt"] = pd.to_datetime(TempState_df["dt"])
TempGlobal_df["dt"] = pd.to_datetime(TempGlobal_df["dt"])

Folgend schaue ich mir nochmal kurz die Daten der Dataframes an und entscheide, welche Spalten nicht für die weitere Analyse relevant sind.

In [34]:
# Show Head of all Dataframes
print("co2_df: Head:")
print(co2_df.head())

print("methane_df: Head:")
print(methane_df.head())

print("TempCountry_df: Head:")
print(TempCountry_df.head())

print("TempMajorcity_df: Head:")
print(TempMajorcity_df.head())

print("TempState_df: Head:")
print(TempState_df.head())

print("TempGlobal_df: Head:")
print(TempGlobal_df.head())

co2_df: Head:
               Country Data source                Sector  Gas    Unit  \
0                World        CAIT  Total including LUCF  CO2  MtCO₂e
1                China        CAIT  Total including LUCF  CO2  MtCO₂e
2        United States        CAIT  Total including LUCF  CO2  MtCO₂e
3  European Union (27)        CAIT  Total including LUCF  CO2  MtCO₂e
4                India        CAIT  Total including LUCF  CO2  MtCO₂e

       2018      2017      2016      2015      2014  ...      1999      1998  \
0  36441.55  35588.70  35160.60  34521.91  34558.59  ...  24957.30  24895.32
1   9663.36   9367.67   9164.21   9120.27   9184.77  ...   2799.84   2882.75
2   4749.57   4581.90   4656.84   4563.52   4683.35  ...   5191.66   5172.06
3   2636.99   2692.12   2669.54   2321.61   2263.78  ...   3079.46   3134.03
4   2400.25   2267.16   2149.01   2085.38   2072.03  ...    683.00    618.73

       1997      1996      1995      1994      1993      1992      1991  \
0  25292.92  24214.92  23890.22  23260.29  23124.00  22988.29  23056.40
1   2779.27   2715.50   2735.48   2414.50   2294.12   2068.77   1952.78
2   5129.29   4864.46   4708.31   4654.52   4581.76   4461.62   4389.50
3   3142.23   3210.93   3113.68   3060.09   3072.40   3133.06   3247.48
4    600.38    555.60    519.98    466.79    431.31    409.09    386.17

       1990
0  22849.92
1   1823.96
2   4426.40
3   3286.44
4    341.32

[5 rows x 34 columns]
methane_df: Head:
  Country                Sector  Gas    Unit     2018     2017     2016  \
0   China  Total including LUCF  CH4  MTCO2e  1238.95  1239.28  1242.43
1   China  Total excluding LUCF  CH4  MTCO2e  1238.63  1239.13  1242.15
2  Russia  Total including LUCF  CH4  MTCO2e   853.00   852.12   856.00
3  Russia  Total excluding LUCF  CH4  MTCO2e   849.57   850.17   852.55
4   China                Energy  CH4  MTCO2e   739.58   741.73   743.88

      2015     2014     2013  ...    1999    1998    1997    1996    1995  \
0  1237.79  1206.51  1178.21  ...  826.57  814.80  792.55  824.63  798.90
1  1237.52  1206.21  1178.02  ...  825.69  813.83  791.73  823.86  798.45
2   837.01   833.59   827.06  ...  604.57  606.50  614.99  634.53  643.52
3   835.56   830.22   825.64  ...  598.70  597.72  610.38  622.22  639.73
4   746.03   723.02   700.01  ...  303.13  289.36  275.59  261.82  248.05

     1994    1993    1992    1991    1990
0  774.10  758.01  752.10  743.51  730.78
1  773.65  757.56  751.66  743.07  730.34
2  670.71  728.51  784.68  867.35  933.79
3  666.92  724.72  780.89  863.52  929.97
4  234.28  229.86  225.44  221.02  216.60

[5 rows x 33 columns]
TempCountry_df: Head:
          dt  AverageTemperature  AverageTemperatureUncertainty Country
0 1743-11-01               4.384                          2.294   Åland
5 1744-04-01               1.530                          4.680   Åland
6 1744-05-01               6.702                          1.789   Åland
7 1744-06-01              11.609                          1.577   Åland
8 1744-07-01              15.342                          1.410   Åland
TempMajorcity_df: Head:
          dt  AverageTemperature  AverageTemperatureUncertainty     City  \
0 1849-01-01              26.704                          1.435  Abidjan
1 1849-02-01              27.434                          1.362  Abidjan
2 1849-03-01              28.101                          1.612  Abidjan
3 1849-04-01              26.140                          1.387  Abidjan
4 1849-05-01              25.427                          1.200  Abidjan

         Country Latitude Longitude
0  Côte D'Ivoire    5.63N     3.23W
1  Côte D'Ivoire    5.63N     3.23W
2  Côte D'Ivoire    5.63N     3.23W
3  Côte D'Ivoire    5.63N     3.23W
4  Côte D'Ivoire    5.63N     3.23W
TempState_df: Head:
          dt  AverageTemperature  AverageTemperatureUncertainty State Country
0 1855-05-01              25.544                          1.171  Acre  Brazil
1 1855-06-01              24.228                          1.103  Acre  Brazil
2 1855-07-01              24.371                          1.044  Acre  Brazil
3 1855-08-01              25.427                          1.073  Acre  Brazil
4 1855-09-01              25.675                          1.014  Acre  Brazil
TempGlobal_df: Head:
             dt  LandAverageTemperature  LandAverageTemperatureUncertainty  \
1200 1850-01-01                   0.749                              1.105
1201 1850-02-01                   3.071                              1.275
1202 1850-03-01                   4.954                              0.955
1203 1850-04-01                   7.217                              0.665
1204 1850-05-01                  10.004                              0.617

      LandMaxTemperature  LandMaxTemperatureUncertainty  LandMinTemperature  \
1200               8.242                          1.738              -3.206
1201               9.970                          3.007              -2.291
1202              10.347                          2.401              -1.905
1203              12.934                          1.004               1.018
1204              15.655                          2.406               3.811

      LandMinTemperatureUncertainty  LandAndOceanAverageTemperature  \
1200                          2.822                          12.833
1201                          1.623                          13.588
1202                          1.410                          14.043
1203                          1.329                          14.667
1204                          1.347                          15.507

      LandAndOceanAverageTemperatureUncertainty
1200                                      0.367
1201                                      0.414
1202                                      0.341
1203                                      0.267
1204                                      0.249

In [35]:
# Delete specific columns from the datasets
co2_df = co2_df.drop(["Data source"], axis=1)
co2_df = co2_df.drop(["Sector"], axis=1)
co2_df = co2_df.drop(["Gas"], axis=1)
co2_df = co2_df.drop(["Unit"], axis=1)

methane_df = methane_df.drop(["Sector"], axis=1)
methane_df = methane_df.drop(["Gas"], axis=1)
methane_df = methane_df.drop(["Unit"], axis=1)

TempCountry_df = TempCountry_df.drop(["AverageTemperatureUncertainty"], axis=1)

TempMajorcity_df = TempMajorcity_df.drop(["AverageTemperatureUncertainty"], axis=1)
TempMajorcity_df = TempMajorcity_df.drop(["Latitude"], axis=1)
TempMajorcity_df = TempMajorcity_df.drop(["Longitude"], axis=1)

TempState_df = TempState_df.drop(["AverageTemperatureUncertainty"], axis=1)

TempGlobal_df = TempGlobal_df.drop(["LandAverageTemperatureUncertainty"], axis=1)
TempGlobal_df = TempGlobal_df.drop(["LandMaxTemperatureUncertainty"], axis=1)
TempGlobal_df = TempGlobal_df.drop(["LandMinTemperatureUncertainty"], axis=1)
TempGlobal_df = TempGlobal_df.drop(["LandAndOceanAverageTemperature"], axis=1)
TempGlobal_df = TempGlobal_df.drop(["LandAndOceanAverageTemperatureUncertainty"], axis=1)

## 3. Feature Engineering

## 4. Explorative Datenanalyse (EDA)

## 5. Findings

### 5.1 1. Finding

### 5.2 2. Finding