# Datenanalyse Projekt LF8

## 1. Datenbeschaffung

In [16]:
# Import
import pandas as pd
import matplotlib as plt

In [17]:
# Read CSV-Datasets
co2_df = pd.read_csv("./data/co2_hist_emissions.csv")
methane_df = pd.read_csv("./data/methane_hist_emissions.csv")
TempCountry_df = pd.read_csv("./data/GlobalLandTemperaturesByCountry.csv")
TempMajorcity_df = pd.read_csv("./data/GlobalLandTemperaturesByMajorCity.csv")
TempState_df = pd.read_csv("./data/GlobalLandTemperaturesByState.csv")
TempGlobal_df = pd.read_csv("./data/GlobalTemperatures.csv")

## 2. Datacleaning

In [18]:
# Clean Data of NaN
co2_df = co2_df.dropna()
methane_df = methane_df.dropna()
TempCountry_df = TempCountry_df.dropna()
TempMajorcity_df = TempMajorcity_df.dropna()
TempState_df = TempState_df.dropna()
TempGlobal_df = TempGlobal_df.dropna()

In [19]:
# avg. temp. per year, per country
TempCountry_df["dt"] = pd.to_datetime(TempCountry_df["dt"])
TempCountry_df["year"] = TempCountry_df["dt"].dt.year
TempCountry_df = TempCountry_df.groupby(["year", "Country"]).mean()
TempCountry_df = TempCountry_df.reset_index()
TempCountry_df = TempCountry_df[["year", "Country", "AverageTemperature"]]
TempCountry_df = TempCountry_df.rename(columns={"AverageTemperature": "AvgTemp"})
TempCountry_df = TempCountry_df.sort_values(by=["year", "Country"])
TempCountry_df = TempCountry_df.reset_index()
TempCountry_df = TempCountry_df.drop(columns=["index"])
TempCountry_df.head(100)

    year                  Country   AvgTemp
0   1743                  Albania  8.620000
1   1743                  Andorra  7.556000
2   1743                  Austria  2.482000
3   1743                  Belarus  0.767000
4   1743                  Belgium  7.106000
..   ...                      ...       ...
95  1744              Switzerland  8.351625
96  1744                  Ukraine  9.997125
97  1744           United Kingdom  9.088250
98  1744  United Kingdom (Europe)  9.363125
99  1744                    Åland  6.698500

[100 rows x 3 columns]

## 3. Feature Engineering

## 4. Explorative Datenanalyse (EDA)

## 5. Findings

### 5.1 1. Finding

### 5.2 2. Finding